.navbar {
  position: sticky;
  top: 0;
  left: 0;
  /* translate: 0 -72px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 72px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  background: #dfdfe2;
  transition: 0.3s;
  margin-bottom: 2.5rem;
}

.nav-items {
  display: flex;
  /* width: 8rem; */
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  color: rgb(255 255 255 / 95%);
  height: 72px;
  display: grid;
  place-items: center;
}

.nav-items > a:hover {
  color: rgb(255 255 255 / 96%);
}

p {
  font-weight: bold;
}

.navbar-toggler {
  display: none;
}

.nav-item {
  display: none;
}

.fa-circle-half-stroke {
  font-size: 2rem;
  cursor: pointer;
}

.toggler-in-small-screen {
  display: none;
}

@media only screen and (max-width: 376px) {
  .navbar {
    padding: 20px 10px;
    gap: 0.5rem;
  }

  .nav-items {
    display: none;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  p {
    color: rgb(3, 3, 3);
    /* font-size: 1.3rem; */
  }

  .gap-3 {
    gap: 0.5rem !important;
  }

  .navbar-toggler {
    display: block;
    color: black;
    outline: none;
  }

  .sidebar {
    width: 100%;
    height: 30vh;
    background-color: #f0f0f1;
    /* opacity: 0.8; */
  }

  .toggler-in-small-screen {
    display: block;
    position: absolute;
    right: 5rem;
  }
}
